.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #4DC0FF;
  height: 150px;
  padding: 20px;
  color: #fff;
}
.cigarette button{
  border: 0px;
}
.App-intro {
  font-size: large;
}
.LoginArea{
  text-align: right;
}
.LoginArea a{
    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.regBtn{
  text-align: right;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.chatWin{
	animation: scaleDraw 5s ease-in-out infinite;
	-webkit-animation: scaleDraw 5s ease-in-out infinite;
	-moz-animation: scaleDraw 5s ease-in-out infinite;
	-o-animation: scaleDraw 5s ease-in-out infinite;
}
@keyframes scaleDraw{
	0%{
		transform: scale(1);
	}
	25%{
		transform: scale(1.1);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.1);
	}
}
@-webkit-keyframes scaleDraw{
	0%{
		transform: scale(1);
	}
	25%{
		transform: scale(1.1);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.1);
	}
}
@-moz-keyframes scaleDraw{
	0%{
		transform: scale(1);
	}
	25%{
		transform: scale(1.1);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.1);
	}
}
@-o-keyframes scaleDraw{
	0%{
		transform: scale(1);
	}
	25%{
		transform: scale(1.1);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.1);
	}
}